body{
    background-color: antiquewhite;
    text-align: center;
}

.grid-layout{
    height: 650px;
    display: grid;
    grid-template-areas: 'cabecera cabecera'
                        'menu menu'
                        'contenido lateral'
                        'footer footer'; 
    grid-template-rows: 20% 10% auto 10%;
    background-color: lightgreen;
    border: 1px solid black;
}

.caja{
    border: 4px solid black;
    background: lightgray;
    text-align: center;
    padding: 20px;
}
.c1{
    grid-area: cabecera;
    background-color: lightblue;
}
.c2{
    grid-area: menu;
    background-color: lightgreen;
}
.c3{
   grid-area: contenido;
    background-color: blue;
}
.c4{
   grid-area: lateral;
    background-color: azure;
}
.c5{
   grid-area: footer;
    background-color: bisque;
}
